

/* GLOBAL STYLES
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*{box-sizing: border-box;
    font-family: 'Amatic SC', cursive; }
@media only screen and (max-width: 758px) {
   .zoom{
    width:80%;
    padding:10%;
     float: none ;
     text-align: center;
    }

}
:root{--boldPeach:#bf6d50
}

body{
      text-align: center;
}

h1{
  /*margin-right: 50px;*/
  font-size: 5vw;
  margin: 0px;
  padding-right: 5%;
}

h2 {
  font-size: 4vw;
  direction: rtl;  /* Right to Left */
  padding: 0 100px;
  margin: 0;
}

/*HOME PIC
--------------------------------------------------*/

figcaption{
  font-size:x-large;
}

text1{
  padding-left: 5%;
  font-size-adjust: inherit;
}

#pic5{

  padding: 5%;
  width:33%;
  float: none;
    border: #bf6d50;
}
#pic4{
 padding: 5%;
  width:33%;
  float: none;
}
#pic6{
 padding: 5%;
  width:33%;
  float: none;
}
#pic1{
 padding: 5%;
  width:33%;
  float: none;
}

#pic2{
  padding: 5%;
  width:33%;
  float: none;
}
#pic3{
  /*padding: 5%;*/  padding: 5%;
  width:33%;
  float: none;
}

.zoom:hover {
	transform: scale(1.1);
}

/*HEDAER AND NAV
----------------------------------------------*/

.navlink{
  padding: 0 20px;
  margin: 0;
  color: var(--boldPeach);
  text-decoration: none; /* removes default underline */
  font-size:2.5vw;
}

/*when typing nav button */
a.navlink:hover {
  background: peachpuff;
}

header {
    direction: rtl;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;

}

.highlight {
  color: var(--boldPeach);
}

/*MAIN
-----------------------------------------*/
main {
  background: #ecab94;
  width: 100%;

}




/* ABOUT STYLES
-----------------------------------------*/

/*blockquote {*/
/*  clear: both;*/
/*  padding: 5px 150px;*/
/*  text-align: center;*/
/*}*/
/*blockquote p {*/
/*  font-family: "Pacifico", cursive;*/
/*  font-size: 30px;*/
/*}*/

/* FOOTER STYLES
-----------------------------------------*/
footer {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  text-transform: lowercase;
  position: -ms-device-fixed;
  float: bottom;
  width: 100%;

}

/* REGISTER+LOGIN STYLES
---------------------------------------*/



form {
   display: inline-block;
  background-color: antiquewhite;
  border: 3px solid #f1f1f1;
  width: 40%;
  font-size: 1.5vw;

}

/* Full-width inputs */
input[type=text], input[type=password] ,input[type=email] {
   direction: rtl;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

textarea[type=message]{
  direction: rtl;
  width: 100%;
  height: 150px ;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: #bf6d50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.5vw;

}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/*!* Add padding to containers *!*/
/*.container {*/
/*  margin: 20px;*/
/*}*/


