

/* GLOBAL STYLES
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*{box-sizing: border-box;
    font-family: 'Amatic SC', cursive; }
@media only screen and (max-width: 1000px) {
   .zoom{
    width:70%;
    padding: 10px;
    }
}
:root{--boldPeach:#bf6d50
}

body {
  /*height: 100%;*/
}

h1{
  margin-right: 50px;
  font-size: 7vw;
}

h2 {
  font-size: 4vw;
  direction: rtl;  /* Right to Left */
  padding: 0 100px;
}

.picture{
      padding-left: 10%;
}
#pic5{
  padding-right:5% ;
  width:35%;
}
#pic4{
  padding-left:5% ;
  width:35%;
}
#pic1{
  padding: 5%;
  width:30%;
}

#pic2{
  padding: 5%;
  width:30%;
}
#pic3{
  padding: 5%;
  width:30%;
}

.zoom:hover {
	transform: scale(1.1);
}

a {
  padding: 0 20px;
  color: var(--boldPeach);
  text-decoration: none; /* removes default underline */
  font-size:2.5vw;
}
/*when typing nav button */
a:hover {
  background: peachpuff;
}

header {
  background: white;
      display: flex;
  justify-content: space-between;
  align-items: center;

}
main {
  background: darksalmon;
}

.highlight {
  color: var(--boldPeach);
}

/* ABOUT STYLES
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
  width: 50%; /* Force the profile image to always take up 50% of available horizontal space. */
}
blockquote {
  clear: both;
  padding: 5px 150px;
  text-align: center;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

/* FOOTER STYLES
-----------------------------------------*/
footer {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  text-transform: lowercase;
}
