*{box-sizing: border-box;
    font-family: 'Amatic SC', cursive; }



/*figure{*/
/*    width:10px;*/
/*    float: left;*/

/*}*/
/*.pic{*/
/*     width:10px;*/
/*    float: left;*/
/*}*/




.grid-container{
    display: grid;

}
.item1{

    width: 20%;
}

