
/**{box-sizing: border-box;*/
/*    font-family: 'Amatic SC', cursive;*/
/*    font-size:3vw;*/
/*    }*/

/*h1{*/
/*  font-size: 5vw;*/
/*  margin: 0;*/
/*  padding-right: 5%;*/
/*}*/

/*h2 {*/
/*  font-size: 4vw;*/
/*  direction: rtl;  !* Right to Left *!*/
/*  padding-top: 50px;*/
/*  margin: 0;*/
/*}*/

/*!*HEDAER AND NAV*/
/*----------------------------------------------*!*/

/*.navlink{*/
/*  padding: 0 1vw;*/
/*  margin: 0;*/
/*  color: var(--boldPeach);*/
/*  text-decoration: none; !* removes default underline *!*/

/*}*/

/*#home{*/
/*  padding-right: 3vw;*/
/* }*/
/*!*when typing nav button *!*/
/*a.navlink:hover {*/
/*  background: peachpuff;*/
/*}*/

/*header{*/
/*  direction: rtl;*/
/*  width: 100%;*/
/*  background: white;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  text-align: right;*/
/*  overflow: hidden;*/
/*  position: fixed; !* Set the navbar to fixed position *!*/
/*  top: 0; !* Position the navbar at the top of the page *!*/

/*}*/

/*.highlight {*/
/*  color: var(--boldPeach);*/
/*  font-size: 5vw;*/
/*  padding-right: 2vw;*/
/*}*/

/*@media only screen and (max-width: 758px) {*/
/*  .h1{*/
/*    font-size: 7vw;*/
/*  }*/
/* .navlink {*/
/*   font-size:5vw;*/
/*   }*/
/*}*/


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*{box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
:root{
    --boldPeach:#bf6d50;
    --brightPeach: rgba(248, 199, 178, 0.81);
}
body{
      text-align: center;
      padding-top: 10%;
}
h1{
  font-size: 5vw;
  margin: 0;
  padding-right: 5%;
}
h2 {
  font-size: 4vw;
  direction: rtl;  /* Right to Left */
  padding-top: 50px;
  margin: 0;
}

/*HEDAER AND NAV
----------------------------------------------*/

.navlink{
  padding: 0 1vw;
  color: var(--boldPeach);
  text-decoration: none; /* removes default underline */
  font-size:3vw;
}

/*when typing nav button */
a.navlink:hover {
  background: peachpuff;
}

header{
  direction: rtl;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  overflow: hidden;
  position: fixed;
  position: absolute; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.highlight {
  color: var(--boldPeach);
    font-size: 5vw;
    padding-right: 2vw;
}
#headline{
      text-align: center;
}
#home{
    padding-right: 3vw;
}