{% extends 'base.html' %}

{% set page_head_title = 'contact' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('contact.static', filename='css/contact.css') }}"/>
{% endblock %}

{% block page_body_main %}
    <main >
			<h1 id="headline">צור קשר</h1>
			<div class="form" >
				<form  name="contact" action="mailto:annaper@post.bgu.ac.il", method="post">
					<b id="keep">שמרו על קשר</b> <br>
					<br><label for="fullname" >:שם מלא</label><br>
					<input type="text" id="fullname" name="fullname" placeholder="שמך המלא" required><br>
					<br> <label for="message">:הודעה</label><br>
					<textarea type="message" id="message" name="message" placeholder="השאר הודעה כאן" required></textarea><br>
					<br><button type="submit">שלח</button>
				</form>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
			                  <br>
			</div>
		</main>
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('contact.static', filename='js/contact.js') }}"></script>
{% endblock %}
