<link rel="stylesheet" href="{{ url_for('main_menu.static', filename='css/head.css') }}"/>

<header>
    <!-- Navigation links -->

    <nav id="nava">
        <h1 ><span class="highlight">תותי</span> פרוטי<img src="{{url_for('main_menu.static',filename='media/strTitle.jpeg')}}" alt="totPic" style="height:5vw"> </h1>
            <div>
                <b>
					<a class="navlink" id = "home" href="/">בית</a>
					<a class="navlink" href="/selfAssembly">הרכבה עצמית</a>
					<a class="navlink" href="/shoppingcart">סל קניות</a>
					<a class="navlink" href="/contact">צור קשר</a>
				</b>
            </div>
			</nav>
				<div>
				<b>
				<a class="navlink" href="/register">הרשמה</a>
				<a class="navlink" href="/login">התחברות</a>
				</b>
				</div>
</header>

