{% extends 'base.html' %}

{% set page_head_title = 'shoppingcart' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shoppingcart.static', filename='css/shoppingcart.css') }}"/>
{% endblock %}

{% block page_body_main %}
    <main>
            <section>
				<h1 class="cart" >סל הקניות שלך</h1>
				<div id="text" >  </div>
			</section>

    {% if session %}
           {% for item in cart %}
 			<section  class="product" id={{ item.plate_name }}>
                <hr class="line" >
     			<a class="remove-product" href="/shoppingcart/{{ item.plate_name }}" onclick="document.getElementById('{{ item.plate_name }}').style.display='none'"><b> מחק פריט מהרשימה</b> </a>
				<label for="name"> </label>
     			<input class="product-quantity" type="text" name="value" min="1" value="1" >
				<div class="product-price">{{ item.price }} </div>
     				<h3 class="product-name"> {{ item.hebrew_name }} </h3>
     				<img class="pic"  alt = "plate" src= {{ item.photo }} >
 			</section>
            {% endfor %}

                 <!-- סיכום הזמנה -->
  			<section class="totals">
      		 <hr class="line">
                <a href="/shoppingcart/updatePrice "  class="tot" id="tot" > הצג סכום ביניים </a>
                <p class="total-price"> <b>{{ price }} </b></p>
                <h3>{{ amounts }}</h3>
      			<button onclick="window.location.href='/shoppingcart/payment'"  class="send" > שלח הזמנה </button>
			</section>
    {% else %}
        <h2>
            אנא התחבר למשתמש על מנת לראות את סל הקניות (:
        </h2>
    {% endif %}

    </main>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('shoppingcart.static', filename='js/shoppingcart.js') }}"></script>
{% endblock %}
