{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}
{%  block page_head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% block page_body_main %}
   <main >

		<h2 id="text"> </h2>

     		<div class="images_buttons">
				<a id="fruit5" class="photh_button"  href='/homepage/open_double' style="background-image: url({{ url_for('homepage.static', filename='media/fruit5.jpg') }})">
					<span>זוגי</span>
				</a>
        		<a id="fruit2" class="photh_button"  href='/homepage/open_family' style="background-image: url({{url_for('homepage.static',filename='media/fruit2.jpg')}})">
					<span>משפחתי</span>
				</a>
		 		<a id="fruit6" class="photh_button"  href='/homepage/open_exotic' style="background-image: url({{url_for('homepage.static',filename='media/fruit20.jpg')}})">
					<span>אקזוטי</span>
				</a>
				<a  class="photh_button" href='/homepage/open_pampering' style="background-image: url({{url_for('homepage.static',filename='media/plate1.jpg')}})">
					<span>מפנק</span>
				</a>
        		<a  class="photh_button" href='/homepage/open_exciting' style="background-image: url({{url_for('homepage.static',filename='media/plate3.jpg')}})">
					<span>מרגש</span>
				</a>
		 		<a class="photh_button" href='/homepage/open_hypnotist' style="background-image: url({{url_for('homepage.static',filename='media/plate4.jpg')}})">
					<span>מהפנט</span>
				</a>
			</div>
       {% block modal_plate %}

       {% endblock %}
		</main>
{% endblock %}

{% block page_body_js %}
     <script src="{{ url_for('homepage.static', filename='js/homepage.js') }}"></script>
{% endblock %}
