{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}
{%  block page_head_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
{% endblock %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% block page_body_main %}
   <main >

		<h2 id="text"> </h2>
        <div class="images_buttons">
        {% for plate in plates %}
				<a href={{ plate.action }}>
					<span>{{ plate.hebrew_name }}</span>
                    <img src={{ plate.photo }}>
				</a>
        {% endfor %}
         </div>

       {% block modal_plate %}

       {% endblock %}
		</main>
{% endblock %}

{% block page_body_js %}
     <script src="{{ url_for('homepage.static', filename='js/homepage.js') }}"></script>
{% endblock %}
