{% extends 'base.html' %}

{% set page_head_title = 'login' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}

{% block page_body_main %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for ms in messages %}
                    <h4>{{ ms }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}
         {% if  session['userName'] %}
             <section id="login" class="section" >
             <br>
             <br>
                 <form action="/logout" method="post" >
                    <div class="container">
                       <button type="submit">התנתקות</button>
                    </div>
                 </form>
            <br>
            <br>
            <br>
            <br>
            </section>
         {% else %}
             <section id="login" class="section" >
             <br>
             <br>
              <form action="/connect" method="post" >
                <div class="container">
                    <label for="email"><b class="register"> דוא"ל</b></label>
                    <input type="text" placeholder="הכנס דואר אלקטרוני" name="email" id="uname" required>
                    <label for="psw"><b class="register">סיסמא</b></label>
                    <input type="password" placeholder="הכנס סיסמא" name="psw" id="psw" required>
                    <button type="submit">התחברות</button>
                </div>
              </form>
            <br>
            <br>
            <br>
            <br>
            </section>

                    {% endif %}

    </main>
{% endblock %}
