# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\רותם\Downloads\llc-html-css-multi-page-site-master\llc-html-css-multi-page-site-master\project\final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
