{% extends 'base.html' %}

{% set page_head_title = 'selfAssembly' %}

{% block page_head_css %}
     <link rel="stylesheet" href="{{ url_for('selfAssembly.static', filename='css/selfAssembly.css') }}"/>
{% endblock %}


{% block page_body_main %}
<main>
			<div id="text" >  </div>
			<section id="sizes" class="choices">

					<h1 class="choice">:גודל מגש רצוי</h1>
					<h2> מגשים מרובעים:</h2>
					<div class="tray">
						<a>
					  		<button  onclick="chosen(this)" class="sizeA" id="size1"> <b>20X30</b> </button>
							<span>2 סועדים</span>
						</a>
						<a>
							<button onclick="chosen(this)" class="sizeA" id="size2"> <b>30X30</b> </button>
							<span>4 סועדים</span>
						</a>
						<a>
							<button onclick="chosen(this)" class="sizeA" id="size3"> <b>40X30</b> </button>
							<span>8 סועדים</span>
						</a>
					</div>
    				<h2> מגשים עגולים:</h2>
					<div class="tray">
						<a>
							<button onclick="chosen(this)" class="sizeB" id="size4"> <b>25X25</b> </button>
							<span>2 סועדים</span>
						</a>
    				  	<a>
							<button onclick="chosen(this)" class="sizeB" id="size5"> <b>35X35</b> </button>
							<span>4 סועדים</span>
						</a>
					  	<a>
							<button onclick="chosen(this)" class="sizeB" id="size6"> <b>45X45</b> </button>
							<span>8 סועדים</span>
						</a>
					</div>
			</section>
			<section id="photos" class="choices">
  				<h1 class="choice">:פירות לבחירה</h1>
				<h2> פירות בסיס:</h2>
				<div class="images_buttons">
					<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/afarsek.jpg') }})" >
						<span>אפרסק</span>
						<input class="checkbox" id="cafarsek" type="checkbox" name="afarsek" value="afarsek" >
					</a>
					<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/anavim.jpg') }})" >
						<span>ענבים</span>
						<input class="checkbox"  type="checkbox" name="anavim" value="anavim">
					</a>
					<a style="background-image:{{ url_for('selfAssembly.static', filename='media/avatiah.jpg') }})">
						<span>אבטיח</span>
						<input class="checkbox"  type="checkbox" name="avatiah" value="avatiah">
					</a>
					<a style="background-image:{{ url_for('selfAssembly.static', filename='media/akiwi.jpg') }})" >
						<span>קיוי</span>
						<input class="checkbox" type="checkbox" name="kiwi" value="kiwi">
					</a>
					<a style="background-image:{{ url_for('selfAssembly.static', filename='media/melon.jpg') }})" >
						<span>מלון</span>
						<input class="checkbox"  type="checkbox" name="melon" value="melon">
					</a>
		 			<a style="background-image:{{ url_for('selfAssembly.static', filename='media/mishmesh.jpg') }})" >
						<span>משמש</span>
						<input class="checkbox"  type="checkbox" name="mishmesh" value="mishmesh">
					</a>
		 			<a style="background-image:{{ url_for('selfAssembly.static', filename='media/nectarina.jpg') }})" >
						<span>נקטרינה</span>
						<input class="checkbox"  type="checkbox" name="nectarina" value="nectarina">
					</a>
					<a style="background-image:{{ url_for('selfAssembly.static', filename='media/shezifim.jpg') }})" >
						<span>שזיף</span>
						<input class="checkbox"  type="checkbox" name="shezifim" value="shezifim">
					</a>
					<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/teenim.jpg') }})" >
						<span>תאנים</span>
						<input class="checkbox"  type="checkbox" name="teenim" value="teenim">
					</a>
				</div>
				<br>

				<h2> פירות מיוחדים:</h2>
     				<div class="images_buttons">
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/ananas.jpg') }})" >
							<span>אננס</span>
							<input class="checkbox"  type="checkbox" name="ananas" value="ananas">
						</a>
        				<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/duvdevan.jpg') }})" >
							<span>דובדבנים</span>
							<input class="checkbox"  type="checkbox" name="duvdevan" value="duvdevan">
						</a>
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/karambola.jpg') }})" >
							<span>קרמבולה</span>
							<input class="checkbox"  type="checkbox" name="karambola" value="karambola">
						</a>
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/lychee-temp.jpg') }})" >
							<span>ליצ'י</span>
							<input class="checkbox"  type="checkbox" name="lychee" value="lychee">
						</a>
		 				<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/ohmaniot.jpg') }})" >
							<span>אוכמניות</span>
	    					<input class="checkbox"  type="checkbox" name="ohmaniot" value="ohmaniot">
		 				</a>
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/pasiflora.jpg') }})" >
							<span>פסיפלורה</span>
							<input class="checkbox"  type="checkbox" name="pasiflora" value="pasiflora">
						</a>
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/petel.jpg') }})" >
							<span>פטל</span>
							<input class="checkbox"  type="checkbox" name="petel" value="petel">
        				</a>
						<a style="background-image:url({{ url_for('selfAssembly.static', filename='media/sabre.jpg') }})" >
							<span>סברס</span>
							<input class="checkbox"  type="checkbox" name="sabre" value="sabre">
        				</a>
					</div>
					<br>
					<br>
					<br>
				          <h3 id="total">סה"כ עלות לפלטה : 0 ש"ח</h3>
						  <button id="cart">  <b>הוסף לסל</b>  </button>
					<br>
					<br>
					<br>

				</section>
		</main>
{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('selfAssembly.static', filename='js/selfAssembly.js') }}"></script>
{% endblock %}
